---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
const { blok } = Astro.props
---

<section class="my-64">
    <div class="container">
        {
            blok.content?.map((blok) => {
              return <StoryblokComponent blok={blok} />
            })
        }
    </div>
</section>
