---
import { Icon } from 'astro-icon'
import { storyblokEditable } from '@storyblok/astro'

import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
const { blok } = Astro.props
---

<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3" {...storyblokEditable(blok)}>
    {
        blok.columns.map((blok) => {
            return <StoryblokComponent blok={blok} />
        })
    }
</div>

<style lang="scss">
  
</style>
